/jactionlint
/jactionlint.exe
/.testtimestamp
/.linttimestamp
/.bumptimestamp
/env.sh
/.github/jactionlint.yaml
/.github/jactionlint.yml
/jactionlint_fuzz-fuzz.zip
/corpus
/crashers
/man/jactionlint.1
/man/jactionlint.1.html
/playground-dist
/jactionlint-workflow-ast
/.idea
/coverage.out
/coverage.html
/docs/node_modules
/docs/.vitepress/dist
/docs/.vitepress/cache
