/testdata/** -text
/scripts/generate-popular-actions/testdata/** -text
/scripts/generate-webhook-events/testdata/** -text
/scripts/generate-availability/testdata/** -text
/scripts/generate-jactionlint-matcher/test/** -text
/internal/runscript/testdata/** -text
